
{% extends 'base.html' %}

{% block content %}


<div class="container-fluid jumbotron text-center para1">
<div>
  <h2>About Superhero Page</h2>
  
  <p class="para1">Superhero fiction is the genre of fiction that is centered on such characters, <br>
  especially in American comic book and films since the 1930s. ...<br>
   Some superheroes use their powers to counter daily crime while also combating threats against humanity from supervillains, who are their criminal counterparts.</p>
  <button class="btn btn-default btn-lg">Get in Touch</button>
</div>


  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>


{% endblock%}
