{% extends 'base.html'%}
{% block content%}
<div class="container">
    <h1 id="krypton">The many makeovers endured by the Man of Steel's birthplace</h1>
    <p class="para">Perhaps unsurprisingly given the longevity of Superman’s career, even if you ignore the different takes offered
        in
        movies and television shows, there have been multiple versions of Krypton throughout the years. In the very
        first
        appearance of Superman in 1938’s Action Comics No. 1, it was only glimpsed in one panel and unnamed, described
        as “a
        distant planet… destroyed by old age.” (The name “Krypton” didn’t appear until the following year’s Superman No.
        1.)
        It wouldn’t be until 1948’s Superman No. 52 (“The Origin of Superman!”) that readers would get a chance to truly
        visit the doomed planet, thanks to a flashback sequence leading up to baby Kal-El’s trip into space. that story,
        it was revealed that Kryptonians had both superpowers and super-technology (“We have observed Earth people with
        our astro-telescopes,” one character helpfully says. “They are thousands of eons behind us, mentally and
        physically!”), even if their dress sense — something best described as Roman Empire-meets-Circus Performer —
        left a little to be desired. Despite this super-charged environment, life of Krypton seemed much like life on
        Earth… at least until the planet’s destruction thanks to its uranium core. “Gentlemen, Krypton is one gigantic
        atomic bomb!” Superman’s dad, Jor-El, tells the planet’s ruling council at one point.This was essentially the
        version of Krypton that existed for decades after, although the fashions got less Roman and more suit-like as
        time went on. By the time Superman traveled in time to meet his own parents and visit his vanquished homeland in
        1960’s “Return to Krypton!” (Superman No. 141), short sleeves and capes were out, replaced by evening wear and
        headbands; when Jor-El sees his son in full superhero regalia, he asks, “Why are you wearing that strange
        costume?” Also gone was the idea that Kryptonians automatically had superpowers; by this point, they were
        everyday folk who would only gain powers if living under a yellow sun, like ours (Krypton’s sun was red).</p>
    <a href="https://www.hollywoodreporter.com/heat-vision/krypton-a-brief-history-supermans-757172"
        target="_blank"><button type="button" class="btn btn-default btn-rounded">Read More</button></a>

    <h1 id="heada2">7 DC And Marvel Superheroes Who Are Strikingly Similar!!</h1>
    <p>Red Hood (2005) And Winter Soldier (2005)</p>
    <p>Wonder Woman (1941) And Power Princess (1982)</p>
    <p>Superman (1938) And Hyperion (1969)</p>
    <p>Green Lantern (1940) And Nova (1976)</p>
    <p>Catwoman (1940) And Black Cat (1979)</p>
    <p>Doom Patrol (1963) And X-Men (1963)</p>
    <P>Atom (1961) And Ant-Man (1962)</P>
    <P>Green Arrow (1941) And Hawkeye (1964)</P>
    <a href="https://screenrant.com/marvel-dc-superheroes-copies-rip-offs/" target="_blank"><button type="button"
            class="btn btn-default btn-rounded">Read More</button></a>

    <h3 id="facts">1-5 Interesting DC Comics Facts</h3>

    <p>1. Although Superman remains the most well-known superhero in the world, Batman holds the title for most
        appearances, which currently stands at around 6250.</p>

       <p> 2. Comic Sans MS, the one font that is hated all over the internet, was based on the lettering used in the ‘The
        Dark Knight Returns’ and ‘Watchmen’ graphic novels.</p>

        <p>3. In 2000, a project was started to create a DC-multiverse crossover movie: “Batman versus Superman.” It was,
        sadly, abandoned in 2002, but a poster did make a cameo as a joke in the apocalyptic movie “I Am Legend”. It has
        since been restarted and Batman v Superman: Dawn of Justice is about to release in March of this year.</p>

       <p> 4. Aquaman’s arch-enemy, the Black Manta, only became a super villain because Aquaman didn’t succeed in rescuing
        him after he was captured by pirates.</p>

        <p>5. The Green Lantern and Wonder Woman were supposed to become a love-couple, but that was scratched in the 70’s
        when DC received a letter by a fan that suggested the same idea. Due to legal reasons, this prohibited DC Comics
        from moving forward with the idea.</p>

    <a href="https://www.kickassfacts.com/30-kickass-and-interesting-dc-comics-facts/" target="_blank"><button type="button"
            class="btn btn-default btn-rounded">Read More</button></a>
</div>
{% endblock%}