
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid"style="margin-top: -5px;">

   
  {% for hero in heroes%}

                      <h3>{{hero.biography.aliases}} <br>Powerstats</h3>
                      <p>Has a strength of {{hero.powerstats.strength}}</p>
                      <p>An intelligence of {{hero.powerstats.intelligence}}</p>
                      <p>Can move at a speed of {{hero.powerstats.speed}}</p>
                      <p>Combatt abilities of {{hero.powerstats.combat}}</p> <br>
                      <h3>Biography</h3>
                      <p>Was born in {{hero.biography.placeOfBirth}}</p>
                      <p>First appearance was in  {{hero.biography.firstAppearance}}</p><br>
                      <h3>Connections</h3>
                      <p>Known relatives are {{hero.connections.relatives}}</p>
                      <p>Group affliation he has worked with {{hero.connections.groupAffiliation}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

</div>
{% endfor %}
{% endblock%}
