body {
    /* background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://cdn.wallpapersafari.com/99/44/Pv2qmk.jpg) no-repeat center center/cover; */
    height:100vh;
    background-color: gray;
}
nav {
  background: purple;
}

nav a {
  color: #faff70;
}
#heada {
  color: purple;
}

nav a:hover {
  color: #fff;
}


.para1{
  background-image: url("https://bit.ly/2uoNyCP");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
